.page-header__index {
  display: block;
  margin: 0 auto;
  position: relative;

  @media (min-width: $desktop-width) {
    background-image: url("../img/index-background-x1.jpg");
    background-position: calc(50% + 460px) center,center;
    background-repeat: no-repeat;
    background-size: contain;

    @media (mni-resolution: 2dppx) {
      background-image: url("../img/index-background_x2.jpg");
    }
  }
}

.page-header__logo {
  text-decoration: none;
  z-index: 100;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
  }
}

.page-header__logo-text {
  margin-left: 52px;
  margin-bottom: 10px;
  z-index: 100;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-left: 13px;
    margin-top: 14px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
  }
}

.page-header__logo-image {
  @media (min-width: $tablet-width) {
    margin-left: -10px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__container {
  padding-top: 13px;
  z-index: 100;

  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #d9d9d9;
      position: absolute;
      left: 0;
      top: 65px;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;
  }
}

.page-header__catalog {
  background: none;
  z-index: 100;
}
